@font-face {
    font-family: 'GillSans';
    src: url('fonts/gillsansmtpro-book.eot');
    src: url('fonts/gillsansmtpro-book.eot?#iefix') format('embedded-opentype'),
         url('fonts/gillsansmtpro-book.woff') format('woff'),
         url('fonts/gillsansmtpro-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html {
height: 85%;
}
body {
height: 85%;
	background-color: #ebcf9d;
	font: 18px/24px 'GillSans', sans-serif;
	margin: 0;
	}
	
a:link, a:visited {
	color:  #666;
	text-decoration: none;
	border-bottom: 1px #666 dotted;
}

a:hover {
	color: #777;
}
.push {
clear: both;
height: 90px;
}
.year {
	color: #99996F;
	font-size: 0.8em;
}

.user{
	color: #F57E3C;
	font-weight:bold;
	text-transform: uppercase;
}

.comment{
	font-size:0.8em;
}

#header {
	position:relative;
	width: 100%;
	background-color: #4EAFD7;
	height: 64px;
	background-image: url('images/headerbg.png');
	background-position: center;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	box-shadow: 0 1px 5px #333;
}
img.head {
padding: 10px 0 0 10px;
}
.noborder {
border: none;
}
.noborder a:link, a:visited, a:hover {
border: none;
}
#title{
	position:absolute;
	bottom:0;
	margin-left: 12%;
}

#navigation{
	margin-top: 20px;
	width:100%;
	height: 50px;
	/*background-color: #f2b242;*/
	color: white;
	text-align: center;
	/*background-position: center;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	box-shadow: 0 1px 5px #333;*/
}

#navigation a:link {
	font-size: 0.8em;
	color: black;
	text-decoration:none;
}

.full{
	width: 98%;
	background-color: #f5eabd;
	padding: 5px 10px;
	text-align: left;
	margin: 10px auto;
	border-radius: 15px;
	margin-top: 20px;
}

input {
	font: 22px/24px 'GillSans', sans-serif;
	color: #cecece;
	border: none;
	padding: 10px;
	width: 385px;
	margin: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 5px #555;
	-webkit-box-shadow: 1px 1px 5px #555;
	box-shadow: 1px 1px 5px #555;
}

#main{
	width: 80%;
	max-width: 1000px;
	min-width: 600px;
	margin: 50px auto 0 auto;
}

h1{
	font: 40px/50px 'GillSans', sans-serif;
    color: #FFF;
    text-align: left;
    padding: 0;
    margin: 0;
    border: none;
    text-shadow: 1px 1px 3px #444;
}
h2{
    font: 26px/36px 'GillSans', sans-serif;
	color: #505050;
	font-weight:normal;
    margin: 0 0 10px 0;
}

#footer {
color: #505050;
font: 13px/17px 'GillSans', sans-serif;
clear: both;
height: 90px;
padding: 0 0 0 20px;
}
#footer a {
border: none;
}
#fleft {
float: left;
width: 420px;
}

.left{
	float:left;
	width: 47%;
	background-color: #f5eabd;
	padding: 10px;
	margin: 20px 0 40px 0;
	border-radius: 8px;
-moz-box-shadow: 0 2px 4px #333;
-webkit-box-shadow: 0 2px 4px #333;
box-shadow: 0 2px 4px #333;
}

.right{
	float:right;
	width: 46%;
	background-color: #f5eabd;
	padding:10px;
	margin: 20px 0 40px 0;
	border-radius: 8px;
-moz-box-shadow: 0 2px 4px #333;
-webkit-box-shadow: 0 2px 4px #333;
box-shadow: 0 2px 4px #333;
}

#search {
width: 500px;
margin: 0 auto 20px auto;
height: 60px;
}

.glass {
color: #FFF;
font-size: 2px;
width: 50px;
height: 50px;
margin: 0 28px 0 0;
padding: 55px 0 0 0;
border: 0;
background: transparent url(images/magnifier.png) no-repeat center top;
overflow: hidden;
cursor: pointer;
cursor: hand;
float: right;
}

td.coursenum{
	color: #4EAFD7;;
	font-weight:bold;
	width: 25%;
}

.footerseg{
	width: 25%;
	display: inline-block;
	background-color: white;
	padding: 10px;
	text-align: justify;
}