@font-face {
    font-family: 'GillSans';
    src: url('fonts/gillsansmtpro-book.eot');
    src: url('fonts/gillsansmtpro-book.eot?#iefix') format('embedded-opentype'),
         url('fonts/gillsansmtpro-book.woff') format('woff'),
         url('fonts/gillsansmtpro-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html {
height: 85%;
}
body {
height: 85%;
background: #ebd19d url(images/yellow.jpg) no-repeat top;
color: #505050;
font: 13px/17px 'GillSans', sans-serif;
margin: 0;
padding-top: 64px;
}
img {
border: 0;
}
img.head {
padding: 10px 0 0 10px;
}
#header {
width: 100%;
background: #50aed7 url(images/headerbg.png) no-repeat top;
margin: -64px 0 0 0;
height: 64px;
-moz-box-shadow: 0 1px 5px #333;
-webkit-box-shadow: 0 1px 5px #333;
box-shadow: 0 1px 5px #333;
}
#container {
max-width: 1000px;
margin: 0 auto -90px auto;
clear: both;
min-height: 85%;
}
#search {
width: 500px;
margin: 170px auto 0 auto;
}
#info {
width: 90%;
max-width: 1000px;
margin: 50px auto 0 auto;
}
#footer {
clear: both;
height: 90px;
padding: 0 0 0 20px;
}
.push {
clear: both;
height: 90px;
}
.reviews {
font-size: 16px;
}
a:link, a:visited, a:active {
border: none;
text-decoration: none;
color: #505050;
}
a:hover {
color: #777;
}
span.rating {
font: 18px/18px 'GillSans', sans-serif;
color: #777;
text-align: center;
padding: 0 0 0 4px;
margin: 0;
border: none;
}
span.cname {
font: 40px/50px 'GillSans', sans-serif;
color: #FFF;
text-align: center;
padding: 0;
margin: 0;
border: none;
text-shadow: 1px 1px 3px #444;
}
h1 {
font: 48px/50px 'GillSans', sans-serif;
color: #FFF;
text-align: left;
padding: 0;
margin: 0;
border: none;
text-shadow: 1px 1px 3px #444;
}
input {
font: 22px/24px 'GillSans', sans-serif;
color: #cecece;
border: none;
padding: 10px;
width: 385px;
margin: 0;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
border-radius: 8px;
-moz-box-shadow: 1px 1px 5px #555;
-webkit-box-shadow: 1px 1px 5px #555;
box-shadow: 1px 1px 5px #555;
float: left;
}
.glass {
color: #FFF;
font-size: 2px;
width: 50px;
height: 50px;
margin: 0 28px 0 0;
padding: 55px 0 0 0;
border: 0;
background: transparent url(images/magnifier.png) no-repeat center top;
overflow: hidden;
cursor: pointer;
cursor: hand;
float: right;
}
table {
font-size: 18px;
width: 90%;
padding: 5px;
margin: 15px auto;
}
table.reviews {
width: 99%;
font-size: 14px;
margin: 0 auto 10px auto;
}
td {
padding: 5px;
}
tr.light {
background: #f6efc9;
vertical-align: top;
}
tr.dark {
background: #ecdfb5;
vertical-align: top;
}
td.star {
width: 18%;
}
td.professor {
width: 78%;
}
td.toggle {
width: 3%;
vertical-align: top;
}
td.comment {
font-size: 16px;
line-height: 24px;
}